* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: rgb(218, 216, 216);
    --color: rgb(16,56,101)
}
.flex {
    display: flex;
}
.sr-only {
    display: none;
}

/* -- NAVBAR -- */
.logo {
    width: 50px;
    margin: 10px 5px;
}
.name h1 {
    font-size: 1.6em;
    color: var(--color);
}
.primary-header {
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
}
.mobile-nav-toggle {
    display: none;
}
.primary-nav {
    list-style: none;
}
.primary-nav a {
    text-decoration: none;
    color: var(--color);
    text-transform: uppercase;
    padding: 22px 15px;
}
.primary-nav a:hover {
    background-color: rgba(233, 243, 252, 0.546);
}
.nav-links {
    background-color: rgba(233, 243, 252, 0.546);

}
 /* -- MEDIAS QUERIES -- */
 @media only screen and (max-width:992px) {

@supports (backdrop-filter: blur(1rem)) {
.primary-nav {
    background: hsl(0, 3%, 85% / .4);
    backdrop-filter: blur(1rem);
}
}
/* -- NAVBAR -- */
.primary-nav {
    gap: 2.5em;
    
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 22%;
    
    flex-direction: column;
    padding: min(30vh, 10rem) 0em;
    
    transform: translateX(100%);
}
    
.primary-nav[data-visible="true"] {
    transform: translateX(0%);
}
.primary-nav a {
    padding: 10px 45px;
}
.primary-nav a:hover {
    display: block;
    background-color: rgba(235, 232, 232, 0.724);
}
.nav-links {
    display: block;
    background-color: rgba(235, 232,232, 0.724);
    font-weight: bold;
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 35px;
    border: 0;
    aspect-ratio: 1;
    top: .7rem;
    right: 1rem;
    background-color: var(--background-color); 
}
    
.burger {
    font-size: 26px;
    color: var(--color);
}
}
/* -- SLIDE -- */
    /* -- SLIDESSHOW -- */
.mySlides {
    display: none;
}
    /* -- SLIDESHOW CONTAINER -- */
.slideshow-container {
    max-width: 100%;
    position: relative;
}
    /* -- NEXT & PREVIOUS BUTTONS -- */
.prev, .next {
    background-color: rgba(233, 233, 234, 0.3);
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: rgb(16, 56, 101);
    font-weight: bold;
    font-size: 25px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none; /* -- SAFARI -- */
    -ms-user-select: none; /* -- IE 10+ --*/
    user-select: none;
}
    /* -- POSITION THE "NEXT BUTTON" TO THE RIGHT -- */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    /* -- ON HOVER, ADD A BLACK BACKGROUND COLOR WITH A LITTLE BIT SEE-TROUGH -- */
.prev:hover, .next:hover {
    background-color: var(--background-color);
}
    /* -- CAPTION TEXT -- */
.text {
    font-family: var(--font-family);
    color: #f2f2f2;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 12px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    }
    /* -- NUMBER TEXT -- */
.numbertext {
    color: #f2f2f2;
    font-family: var(--font-family);
    font-size: .6em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slide-image {
    width: 100%;
}
    /* -- THE DOTS/BULLETS/INDICATORS -- */
.dots-container {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: rgb(16, 56, 101);
}
    /* -- FADING ANIMATION -- */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* -- BANNER -- */
.section-banner {
    background-color: rgb(183, 219, 183);
}
.banner {
    margin: 30px;
}
.banner h2 {
    text-align: center;
    font-size: 2em;
}
.banner p {
    line-height: 1.3;
    font-size: 1.1em;
}
.img-banner {
    background-color: rgb(16, 56, 101);
    height: 120px;
    color: white;
}
/* -- NOSOTROS -- */ 
.nosotros {
    margin: 30px;
}
.card-nosotros h2 {
    background-color: var(--background-color);
    padding: 5px;
    text-align: center;
}
.img-nosotros {
    height: 150px;
    background-color: rgb(16, 56, 101);
    color: white;
}
.card-nosotros p {
    line-height: 1.3;
    font-size: 1.1em;
}
.card-nosotros a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(16, 56, 101);
    font-weight: bold;
}
/* -- SUSTENTABILIDAD -- */

.cards h2 {
    text-align: center;
    background-color: rgb(183, 219, 183);
    padding: 10px;
    font-size: 1.6em;
}
.cards-img img {
    border: 2px solid forestgreen;
    width: 180px;
}
.card p {
    text-align: center;
    font-size: 1.1em;
}
.header-suste {
    font-size: 1.4em;
    padding-top: 7px;
}
.text-suste {
    font-size: 1.2em;
    padding-top: 8px;
}
/* -- FOOTER -- */
.footer {
    background-color: var(--background-color);
    padding: 10px;
}
.contacto {
    text-align: center;
}
.footer-media {
    text-align: center;
}
.footer-media img {
    width: 70px;
    padding-bottom: 5px;
}
.social-foot {
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
.social-foot .fa {
    padding-left: 25px;
    color: var(--color);
}
.social-foot .fa:hover {
    color: forestgreen;
}
.info-links {
    text-align: center;
}
.footer h3 {
    color: black;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 8px;
}
.info p {
    color: black;
    font-size: 1.2em;
    padding-top: 10px;
}
.info {
    padding-left: 25px;
}
.info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.info-links p {
    font-family: var(--font-family);
    font-size: 1.1em;
}
.hr-footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
}
/*-- COPYRIGTH --*/
.copy {
    text-align: center;
}
.copy i {
    font-size: .7em;
}
/*-- COLUMNAS -- */
.row {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 10px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* -- MEDIA QUERIES -- */
    /* -- MEDIUM DEVICES -- */
@media only screen and (min-width: 600px) {

}

    /* -- LARGE DEVICES -- */
@media only screen and (min-width: 992px) {
    
}