* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: rgb(234, 233, 233);
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color: rgb(16,56,101)
}

   /* NAVBAR STYLING STARTS */
.navbar {
    position: relative; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
    font-family: var(--font-family);
}
   /* LOGO */
.navbar img {
    width: 45px;
}
.logo {
    display: flex;
}
.logo p {
    font-size: 1.75em;
}
.viu {
    color: rgb(16, 56, 101);
}
.be {
    color: forestgreen;
}

/* NAVBAR MENU */
.menu {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px 0px;
}
.menu a {
    display: block;
    width: 100%;
    font-size: 1.1em;
    padding: 7px;
    color: rgb(16, 56, 101);
    text-decoration: none;
}
.menu a:hover {
    width: 100%;
    background-color: rgb(210, 209, 209);
    transition: .3s ease;
}

input[type=checkbox]:checked ~ .menu{
    display: block;
}

  /*  HAMBURGUER  */
.hamburger {
    display: block;
    padding: 5px 15px;
    font-size: 2em;
}
.hamburger:hover {
    background-color: rgb(210, 209, 209);
}
input[type=checkbox] {
    display: none;
} 
  /*  aCCESIBILIDAD  */
.accebility {
    display: none;
    font-size: 1.5em;
    padding: 0px 10px;
}
.accebility a {
    color: white;
}
/* -- SLIDE -- */
    /* -- SLIDESSHOW -- */
.mySlides {
    display: none;
}
    /* -- SLIDESHOW CONTAINER -- */
.slideshow-container {
    max-width: 100%;
    position: relative;
}
    /* -- NEXT & PREVIOUS BUTTONS -- */
.prev, .next {
    background-color: rgba(16, 56, 101, .3);
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 12px;
    margin-top: -22px;
    color: rgb(16, 56, 101);
    font-weight: bold;
    font-size: 25px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none; /* -- SAFARI -- */
    -ms-user-select: none; /* -- IE 10+ --*/
    user-select: none;
}
    /* -- POSITION THE "NEXT BUTTON" TO THE RIGHT -- */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    /* -- ON HOVER, ADD A BLACK BACKGROUND COLOR WITH A LITTLE BIT SEE-TROUGH -- */
.prev:hover, .next:hover {
    background-color: var(--background-color);
}
    /* -- CAPTION TEXT -- */
.text {
    font-family: var(--font-family);
    color: #f2f2f2;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 12px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    }
    /* -- NUMBER TEXT -- */
.numbertext {
    color: #f2f2f2;
    font-family: var(--font-family);
    font-size: .6em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slide-image {
    width: 100%;
}
    /* -- THE DOTS/BULLETS/INDICATORS -- */
.dots-container {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: rgb(16, 56, 101);
}
    /* -- FADING ANIMATION -- */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
/* -- BANNER -- */
.banner {
    background-color: forestgreen;
    color: white;
    padding: 25px 0px;
}
.banner h1 {
    padding-left: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
.banner-h1 {
    font-family: 'Lucida';
    font-size: 1.1em;
}
.banner-p1 {
    padding-left: 14%;
    font-size: 1.5em;
}
.banner-i1 {
    font-size: 1.3em;
    font-family: 'Lucida';
}
.banner-p2 {
    padding-left: 25%;
    font-size: 1.3em;
}
/* -- NOSOTROS -- */ 
.nosotros {
    background-color: rgb(167, 192, 192);
    height: 300px;
    padding: 130px 30px;
}
.text-nosotros {
    border-left: 2px solid rgb(16, 56, 101);
    width: 200px;
    padding-left: 5px;
}
/* -- SUSTENTABILIDAD -- */
.head-sustentabilidad {
    background-color: rgb(16, 56, 101);
    color: white;
    content: "";
    clear: both;
    display: table;
}
.empty {
    height: 80px;
    width: 150px;
    float: left;
}
.head-sustentabilidad p {
    width: 90%;
    padding: 20px 0px;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards h2 {
    text-align: center;
    padding: 20px 0px ;
}
.cards-img {
display: flex;
justify-content: space-around;
}
.cards-img img {
    border: 2px solid forestgreen;
}
.card p {
    text-align: center;
}
.suste {
    padding: 10px;
}
.header-suste {
    padding: 10px;
    font-size: 1.4em;
    color: rgb(16, 56, 101);
}
.text-suste {
    padding: 10px;
    font-size: 1.2em;
}
/* -- FOOTER -- */
.footer {
    background-color: var(--background-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}
.contacto {
    grid-row: 1 / 2;
    text-align: center;
}
.footer-media {
    grid-row: 3 / 4;
    text-align: center;
}
.footer-media img {
    width: 70px;
    border-radius: 100%;
    padding-bottom: 5px;
}
.social-foot {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.social-foot .fa {
    padding-left: 10px;
    color: var(--color);
}
.social-foot .fa:hover {
    color: forestgreen;
}
.info-links {
    grid-row: 2/ 3;
    text-align: center;
}
.footer h3 {
    color: black;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}
.footer p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    padding-top: 7px;
}
.info {
    padding-left: 25px;
}
.info a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.info p {
    text-align: center;
}
.hr-footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color);
}
/*-- COPYRIGTH --*/
.copy {
    grid-row: 4 / 5;
    text-align: center;
}
.copy i {
    font-size: .8em;
}